*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --custom: #37ff00;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    color: black;
    text-decoration: none;
}

.num-1-1-two{
    width: 5rem;
}

.why-factor-two {
    width: 100%;
}

.why-factor {
    position: relative;
    padding: 3rem;
}

.why-factor-boxtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.why-factor-four-box {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.industrial-experience {
    border-radius: 25px 0px 0px 25px;
    padding:  2rem;
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.11);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(214, 212, 212, 1);
}

.text-1 {
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 74px;
    margin-bottom: 31px;
    letter-spacing: 0.4px;
}

.text-2 {
    font-family: "DM Sans";
    font-size: 28px;
    font-weight: 500;
    color: rgba(83, 83, 83, 1);
    letter-spacing: 0.28px;
}

.box-9 {
    padding: 2rem;
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.11);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(214, 212, 212, 1);
}

.text-5 {
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 74px;
    margin-bottom: 31px;
    letter-spacing: 0.4px;
}

.text-6 {
    font-family: "DM Sans";
    font-size: 28px;
    font-weight: 500;
    color: rgba(83, 83, 83, 1);
    letter-spacing: 0.28px;
}

.session-delivered {
    border-radius: 0px 25px 25px 0px;
    padding: 2rem;
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.11);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(214, 212, 212, 1);
}

.text-46 {
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 74px;
    margin-bottom: 27px;
    letter-spacing: 0.4px;
}

.sessions-delivered {
    font-family: "DM Sans";
    font-size: 28px;
    font-weight: 500;
    color: rgba(83, 83, 83, 1);
    letter-spacing: 0.28px;
}

.textline {
    text-align: center;
}

.the-why-factor {
    text-align: center;
    position: relative;
    font-family: "Roboto";
    font-size: 70px;
    font-weight: 700;
    line-height: normal;
    color: rgba(37, 37, 37, 1);
}

.the-why-factor-emphasis-1 {
    font-family: "Roboto";
    font-size: 70px;
    font-weight: 700;
    line-height: normal;
    color: rgba(0, 162, 237, 1);
}

.bar-1 {
    width: 80%;
    margin-bottom: 2rem;
}

.clients {
    width: 100%;
    padding-top: 3rem;
}

.text-8 {
    font-family: "Roboto";
    font-size: 70px;
    font-weight: 700;
    line-height: normal;
    /* color: rgba(0, 162, 237, 1); */
    color: rgb(31 34 35);
}

.flex-wrapper-thirteen {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    gap: 3rem;
    margin: 0 2rem;
    justify-items: center;
    padding: 3rem 0;
    justify-content: center;
    align-items: stretch;
}
.extra img {
    /* height: 14rem;
    width: 20rem; */
    width: 70%;
    max-width: 100%;
}

.bar-2 {
    width: 80%;
    margin-bottom: 2rem;
}

.testimonials {
    margin: 0 0 5rem 0;
    width: 100%;
    background: #012234;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.text-9 {
    font-family: "DM Sans";
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    padding-top: 2rem;
    line-height: normal;
    text-align: center;
}

.box-2 {
    border-radius: 24px;
    box-shadow: 0 0 20px 1px rgba(0, 162, 237, 0.1);
    position: relative;
    background: rgb(250, 250, 250, 1);
    padding: 2rem;
    border: 1px solid rgba(131, 171, 169, 1)
}

.text-10 {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    color: rgba(0, 162, 237, 1);
}

.text-11 {
    font-family: "DM Sans";
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    color: rgba(100, 99, 99, 1);
}

.text-12 {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 1rem;
    color: rgba(38, 38, 38, 1);
}

.box-4 {
    border-radius: 24px;
    box-shadow: 0 0 20px 1px rgba(0, 162, 237, 0.1);
    position: relative;
    border: 1px solid rgba(131, 171, 169, 1);
    padding: 2rem;
    background: rgb(250, 250, 250, 1);
}

.box-2 .textline img,
.box-4 .textline img {
    border-radius: 50%;
    margin-bottom: 1rem;
}

.text-13 {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    color: rgba(0, 162, 237, 1);
}

.text-14 {
    font-family: "DM Sans";
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    color: rgba(100, 99, 99, 1);
}

.text-15 {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 1rem;
    color: rgba(38, 38, 38, 1);
}

.text-16 {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    margin-top: 1rem;
    line-height: 30px;
    color: rgba(38, 38, 38, 1);
    display: flex;
}

@media (max-width: 767px) {
    .flex-wrapper-thirteen {
        flex-direction: column;
    }
    .why-factor-box {
        display: flex;
        justify-content: center;
    }
}

.places-where-i-deliverd-speeches {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-17 {
    font-family: "DM Sans";
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
    color: rgba(5, 221, 130, 1);
    text-align: center;
    margin-bottom: 3rem;
}

.flex-wrapper-ten {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-wrapper-ten img {
    width: 12rem;
    margin: 2rem;
}

.topics-talked-about {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    position: relative;
    align-items: center;
}

.v-18 {
    font-family: "DM Sans";
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
    color: var(--black);
    text-align: center;
    margin-bottom: 1rem;
}

.topics {
    padding: 29px 0;
    margin: 0 138px;
    border-radius: 17px;
}

.allcards {
    margin: 22px;
}

.relative-wrapper-one {
    margin: 3rem 0;
    position: relative;
}

.text-group-1 {
    display: flex;
    background: #D9D9D9;
    padding: 2rem;
    width: 90%;
    margin: 0 auto;
}

.v-19 {
    background: white;
    padding: 2rem;
    margin: 1rem;
}

.v-19 h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.text-19 {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    color: var(--black);
}

.text-21 {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    color: var(--black);
}

.text-22 {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    color: var(--black);
}

@media (max-width: 767px) {
    .text-group-1 {
        flex-direction: column;
        padding: 1rem;
    }
    .v-19 {
        margin: 1rem 0;
    }
}

.bar-3 {
    width: 80%;
}

.my-journey {
    width: 80%;
    border-radius: 70px;
    background-image: url(https://static.overlay-tech.com/assets/7de65718-677f-418d-9bb4-7fb30d21ef08.png);
}

.journey-set {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.journeyphoto {
    /* max-width: 1000px; */
    display: flex;
    justify-content: center;
}

.pexels-photo-by-laura-tancredi {
    background-position: center;
    position: relative;
}

.text-22-two {
    font-family: "DM Sans";
    font-size: 50px;
    font-weight: 500;
    margin: 1rem;
    letter-spacing: 2.5px;
}

.flex-wrapper-three {
    border-radius: 70px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 2rem;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    backdrop-filter: blur(93px);
}

.flex-wrapper-journey {
    padding: 15px;
    border-radius: 70px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(93px);
    font-family: "DM Sans";
    font-size: 30px;
    font-weight: 500;
}

.ams-3-1 {
    width: 45%;
}

@media (max-width: 767px) {
    .my-journey {
        width: 90%;
    }

    .ams-3-1 {
        width: 100%;
    }

    .text-22-two {
        font-size: 1.5rem;
    }

    .flex-wrapper-journey {
        font-size: 1.4rem;
    }
}

.social-profile {
    display: flex;
    flex-direction: column;
    padding: 7rem 0 0rem 0;
}

.text-26 {
    font-family: "DM Sans";
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
    color: rgba(37, 37, 37, 1);
    text-align: center;
    margin-bottom: 2rem;
}

.flex-wrapper-eight {
    width: 100%;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-wrapper-eight img {
    box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 576px) {
    .flex-wrapper-eight img {
        width: 100%;
    }
}

.flex-wrapper-fourteen {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-30 {
    background-color: rgba(1, 34, 52, 1);
    padding: .5rem 2rem;
    display: flex;
    align-items: center;

    position: relative;
    justify-content: space-between;
}

@media(max-width:768px) {
    .text-30 {
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: .5rem 1rem;
    }

    .text-28 {
        margin-top: 10px;
    }
}

.text-28 {
    font-family: "DM Sans";
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    color: white;
}

.flex-wrapper-one {
    display: flex;
    align-items: center;
}

.text-29 {
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-weight: 900;
    color: rgba(0, 162, 237, 1);
    letter-spacing: 0.64px;
}

/* Contact */

.contact {
    font-family: "DM Sans";
    padding-top: 6rem;
}
.contact-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 3rem;
}
.contact .title {
    text-align: center;
    font-size: 2rem;
}

.bar-4 {
    width: 80%;
    margin-top: 10px;
}

.left h2 {
    font-size: 2rem;
}


.left p {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.left div {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.left div .content {
    text-align: left;
}

.left .icon {
    margin-right: 2rem;
    font-size: 2.3rem;
    color: rgba(0, 162, 237, 1);
}

.left .social i {
    color: white;
    border: 2px solid rgba(0, 162, 237, 1);
    border-radius: 50%;
    background-color: rgba(0, 162, 237, 1);
    padding: 1rem;
    margin-right: 2rem;
    font-size: 2rem;
}

.left .social i:hover {
    color: rgba(0, 162, 237, 1);
    background-color: white;
}

form h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form input,
.form textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    padding: 1rem 0;
    text-indent: 1rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    width: 100%;
    outline: none;
    border: none;
    border: 1px solid #ccc;
}

.form .right div {
    display: flex;
}

.form .right div input {
    flex: 1 1 50%;
}

.form textarea {
    width: 100%;
    resize: vertical;
    margin-bottom: 3rem;
}

.form button {
    padding: 1rem 2rem;
    background: rgba(0, 162, 237, 1);
    font-size: 1rem;
    color: white;
    border: transparent;
    cursor: pointer;
    border-radius: 1rem;
}

@media only screen and (max-width: 768px) {
    .contact-center {
        grid-template-columns: 1fr;
    }

    .contact-center .left {
        text-align: left;
        word-break: break-word;
    }

    .left div .content h3 {
        font-size: 1.6rem;
    }

    .left div .content span {
        font-size: 1.5rem;
    }
}

.theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 3rem 0;
    background-color: #012234;
}

.theme .title {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
}

.services-center {
    display: grid;
    padding: 0 3rem 3rem 3rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.service {
    color: #fff;
    background-color: #111;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

.service span {
    font-size: 4rem;
    transition: all 300ms ease-in-out;
}

.service h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.service p {
    font-size: 1.4rem;
    color: #f1f1f1;
    text-align: left;
}

.service:hover {
    background-color: var(--customColor);
}

.service:hover span {
    color: #fff;
}

@media (max-width: 476px) {
    .services-center {
        grid-template-columns: 1fr;
        padding: 0 2rem 2rem 2rem;
    }
}


.about {
    background-color: rgba(251, 251, 251, 1);
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 6rem 0 3rem 0;
}

.text-39 {
    font-family: "Roboto";
    font-size: 70px;
    font-weight: 600;
    color: rgba(0, 162, 237, 1);
    display: flex;
}

.text-40 {
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 400;
    padding: 0 6rem;
    line-height: 56px;
    color: rgba(11, 11, 11, 1);
    letter-spacing: 0.56px;
}

@media (max-width: 576px) {
    .text-40 {
        padding: 0 2rem;
        font-size: 22px;
    }
}

.bar-5 {
    position: relative;
    margin-bottom: 2rem;
    width: 80%;
}

.home {
    width: 100%;
    justify-content: space-around;
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    padding: 7rem 3rem 3rem 3rem;
}

.ams-2-1 {
    width: 30%;
    margin-left: 2rem;
}

@media (max-width: 767px) {
    .ams-2-1 {
        width: 100%;
        margin-top: 3rem;
        height: auto;
    }
    .home{
        flex-wrap: wrap;
    }
}

.button-1 {
    background-color: rgba(5, 221, 130, 0.9);
    margin-right: 36.98px;
    border-radius: 6px;
    padding: 17px 22.02px 17.17px 23px;
    box-shadow: 0 0 25px 2px rgba(0, 162, 237, 0.2);
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 162, 237, 0.2);
}

.contact-btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.text-40-two {
    height: 23px;
    width: 178px;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    color: var(--white);
    display: flex;
    text-transform: uppercase;
    letter-spacing: 0.48px;
}

.button-2 {
    background-color: var(--white);
    border-radius: 6px;
    padding: 1rem 2rem;
    box-shadow: 0 0 25px 2px rgba(0, 162, 237, 0.3);
    display: flex;
    align-items: center;
    border: 2px solid rgba(0, 162, 237);
}
.button-2:hover {
    background: rgba(0, 162, 237);
}

.text-42 {
    height: 23px;
    width: 123px;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    color: rgba(62, 60, 60, 1);
    display: flex;
    text-transform: uppercase;
    letter-spacing: 0.48px;
}

.text-43 {
    /* width: 30rem; */
    font-family: "Roboto Serif";
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
}


.hello-im-akshay-mangal {
    font-family: "Roboto Serif";
    font-size: 70px;
    font-weight: 700;
    line-height: 98px;
    color: rgba(5, 221, 130, 1);
}

.hello-im-akshay-mangal-emphasis-0 {
    font-family: "Roboto Serif";
    font-size: 50px;
    font-weight: 600;
    color: black;
    letter-spacing: 0.89px;
}

.nav {
    display: flex;
    width: 100%;
    z-index: 9999;
    position: fixed;
    padding: 0 2rem;
    background: white;
    align-items: center;
    justify-content: space-between;
}

.fix-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}

.logo-1 {
    display: flex;
    align-items: center;

}


.text-44 {
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-weight: 900;
}

.menu-icon {
    display: none;
}

.menu-icon span {
    display: block;
    height: 3px;
    margin: .2rem;
    width: 30px;
    background: #37ff00;
}

.menu {
    display: flex;
    align-content: center;
    position: relative;
}

.menu li {
    list-style: none;
    padding: 1rem;
    font-size: 1.5rem;
}

.wictronix img {
    background: white;
    border-radius: 1.2rem;
    padding: 0.5rem;
    width: 10rem;
    margin-left: 1rem;
}


@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: #f1f1f1;
        padding: 20px;
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
    }

    .button-1,
    .button-2 {
        margin: 0 10px;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu-open {
        display: flex;
    }
}

@media(max-width:576px) {
    .text-43 {
        width: auto;
        font-size: 1.8rem;
    }
    .hello-im-akshay-mangal{
        font-size: 3rem;
        line-height: 65px;
    }

    .button-1,
    .button-2 {
        margin: 10px 0;
    }

    .wictronix img {
        width: 12rem;
        height: 4rem;
    }
    .text-39,
    .text-8,
    .text-9{
        font-size: 3rem;
    }
    .theme .title{
        font-size: 1.5rem;
    }
    .service p {
        font-size: 1.2rem;
    }
    .the-why-factor,
    .the-why-factor-emphasis-1 {
        font-size: 3rem;
    }
    .v-18,
    .text-26{
        font-size: 2.5rem;
    }
    .text-17{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
}

@media(max-width:450px) {
    .nav {
        padding: 0;
        padding-right: 2.5rem;
    }

    .text-44 {
        font-size: 25px;
    }
}

.icon-set svg {
    margin: 0 15px;
}

@media(max-width:1249px) {
    .flex-wrapper-sixteen p {
        margin: 15px !important;
    }

}

.twitter {
    background: #012234;
    margin-bottom: 3rem;
}
.twitter-timeline {
    margin: 0rem auto;
    padding: 4rem 0;
}