*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --custom: #37ff00;
    --white: #ffff;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.head{
  display: flex;
  margin-left: -39px;
  align-items: center;
}
.group-36{
  height: 83px;
  width: 88px;
}
.group-36 img{
  height: 44px;
}
.sub-head{
  display: flex;
}
.side-line{
  margin-top: 18px;
}
.timeline {
  background-color: rgba(176, 175, 175, 1);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 
  
 
  .flex-wrapper-one {
    background-color:var(--white) ;
    border-radius: 45px;
    padding: 69px 99px 84px 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
  }
 
  .rightest{
    display: flex;
  }
  .main-heading-1 {
    margin-top: 34px;
    margin-right: 391px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
 
  .group-36 {
    background-color: var(--white);
    margin-right: 37px;
    border-radius: 50%;
    padding: 23px 30px 23.11px 31px;
    box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .main-heading {
    font-family: "Source Sans Pro";
    font-size: 48px;
    font-weight: 600;
    color: rgba(37, 37, 37, 1);
    text-align: center;
  }
  .options select{
    height: 49px;
    width: 115px;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 16px;
    border-radius: 15px;
    margin: 2.9px 45px;
    
    color: red;
    border: 0.1px solid #d4d4d4;
    cursor: pointer;
  }
  .options select:hover{
    box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.1);
  }
  
  .cancel {
    background-color: var(--white);
    border-radius: 15px;
    padding: 16px 17px 17px 16px;
  
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(220, 220, 220, 1);
  }
  .cancel:hover{
    box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.1);
  }
  .sub-heading-photo {
    margin-bottom: 13px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .sub-heading {
  margin-bottom: 20px;
    font-family: "Source Sans Pro";
    font-size: 40px;
    font-weight: 400;
    color: rgb(28 27 27 / 58%);
    
  }
  
  .group-59 {
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  .group-42 {
    width: 6px;
    height: 728px;
    margin-top: 85px;
  }
  .line-16 {
    width: 4.6px;
    border-radius: 18px;
    height: 70px;
    background-color: rgba(10, 20, 117, 0.7);
    margin-right: 81px;
  }
  
  .img{
    width: 720px;
    height: 495px;
    margin-bottom: 24px;
    margin-left: 2px;
    box-shadow: 0 0 38px 8px rgba(10, 63, 126, 0.1);
    border: 1px solid rgba(152, 150, 150, 1);
    border-radius: 22px;
  }
  .as-a-seasoned-hvac-and-vam-expert-i-bri {
    height: 116px;
    width: 906px;
    font-family: "Source Sans Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    color: rgba(112, 110, 110, 1);
    display: flex;
    letter-spacing: 0.36px;
  }
 
  .group-40 {
    width: 6px;
    height: 728px;
    margin-right: 86px;
  }
  .flex-wrapper-seventeen {
    padding: 48px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  
  .flex-wrapper-eleven {
    padding: 0 0 0 40px;
    display: flex;
    align-items: flex-start;
  }
  .flex-wrapper-thirteen {
    margin-right: 95px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .group-46 {
    margin-bottom: 13px;
    padding: 85px 0 0;
    position: relative;
  }
  .line-17 {
    width: 5px;
    height: 70px;
    background-color: rgba(10, 20, 117, 0.7);
    position: absolute;
    left: 6px;
    top: 0;
  }
  .group-39 {
    width: 6px;
    height: 728px;
  }
  .group-43 {
    width: 6px;
    height: 728px;
    margin-bottom: 17px;
  }
  .group-47 {
    margin-bottom: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .sub-heading-three {
    font-family: "Source Sans Pro";
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
    color: rgba(28, 27, 27, 1);
    text-align: center;
    margin-bottom: 24px;
  }
  
  .detail {
    width: 906px;
    font-family: "Source Sans Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    color: rgba(112, 110, 110, 1);
    display: flex;
    margin-left: 3px;
    letter-spacing: 0.36px;
  }
  
  

  .contact6-home {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  .contact6-home a{
    text-decoration: none;
  }
  .group-60 {
    
    display: flex;
    align-items: center;
  }
  .group-60:hover{
    box-shadow: 0 0 40px 1px rgba(0, 0, 0,50%);
  }
  .contact-two {
    font-family: "Source Sans Pro";
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
    color: white;
    text-align: center;
  }
 
  .main{
    display: flex;
    flex-direction: column;
  }
  .year{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
.upper-part{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.cancel{
    height: 56px;
}




/* Responsive media */

@media(max-width:1200px) {
  .detail {
      width: auto;
  }
}


@media(max-width:978px) {
  .img {
      width: 90%;
      height: auto;
  }

  .detail {
      width: auto;
  }
}

@media(max-width:768px) {
  .flex-wrapper-one {
      padding-left: 50px;
      padding: 69px 60px 84px 72px;
  }
  .options select {
    margin: 2.9px 30px;
  }
  .img {
      width: 100%;
      height: auto;
  }
  .sub-heading {
    font-size: 33px;
  }
  .year-head h1{
    font-size: 25px;
    color: rgb(28 27 27 / 63%);
  }

  .group-40 {
      margin-right: 20px;
  }
}

@media(max-width:576px) {
  .flex-wrapper-one {
      padding-left: 20px;
  }

  .head {
      display: flex;
      margin-left: -32px;
      align-items: center;
  }

  .year-head h1 {
      color: rgb(28 27 27 / 58%);
      font-size: 30px;
  }

  .main-heading {
      width: auto;
      font-size: 30px;
  }
  .sub-heading{
      font-size:30px;
  }

  .group-36 {
      margin-right: 20px;
      border-radius: 50%;
      padding: 19px 23px 22.11px 25px;
  }


  .group-36 {
      height: 70px;
      width: 70px;
  }

  .group-36 img {
      height: 36px;
  }
  
}
.group-60 a{
  background-color: rgba(51, 67, 217, 1);
  margin-right: 50px;
  border-radius: 15px;
  margin: 10px 50px;
  width: 200px;
  padding:15px 35px;
  box-shadow: 0 4px 20px 5px rgba(51, 67, 217, 0.2);
}

@media(max-width:550px){
  .contact6-home {
      flex-direction: column;
      justify-content: center;
    }
    .group-60{
      justify-content: center;
  }
  .group-60 a{
    padding: 15px;
    width: 150px;
  }
}